@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

:root {
  --main: #ff4500;
  --main-hover: #ff7040;
  --support: #008080;
  --support-hover: #339999;
  --gold: #ffd700;
  --black: #000;
  --dark: #111;
  --light: #fffcfa;
  --grey-1: #333;
  --grey-2: #999;
  --grey-3: #ccc;
  --grey-4: #eee;
  --transition: all 0.5s ease-in;
}

.logo {
  font-family: 'Ephesis', cursive;
  font-size: 2rem;
  font-weight: bold;
  color: var(--main);
}

.bg-main {
  background-color: var(--main);
}
.text-main {
  color: var(--main);
}

.bg-support {
  background-color: var(--support);
}
.text-support {
  color: var(--support);
}

.bg-gold {
  background-color: var(--gold);
}
.text-gold {
  color: var(--gold);
}

.bg-dark-col {
  background-color: var(--dark);
}
.text-dark-col {
  color: var(--dark);
}

.bg-light-col {
  background-color: var(--light);
}
.text-light-col {
  color: var(--light);
}

.bg-grey-1 {
  background-color: var(--grey-1);
}
.text-grey-1 {
  color: var(--grey-1);
}

.bg-grey-2 {
  background-color: var(--grey-2);
}
.text-grey-2 {
  color: var(--grey-2);
}

.bg-grey-3 {
  background-color: var(--grey-3);
}
.text-grey-3 {
  color: var(--grey-3);
}

.bg-grey-4 {
  background-color: var(--grey-4);
}
.text-grey-4 {
  color: var(--grey-4);
}

.hover-transition {
  transition: var(--transition);
}

.navbar-brand.no-hover {
  background: none;
  color: var(--main);
}

.navbar-toggler {
  border: none;
  transition: var(--transition);
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: none;
}

.navbar-toggler-icon::before {
  content: '≡';
  color: var(--dark);
  font-size: 2rem;
  transition: var(--transition);
}

.navbar-toggler-icon:hover::before {
  color: var(--main);
}

.nav-link-custom {
  color: var(--dark);
  text-transform: uppercase;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  transition: var(--transition);
}

.nav-link-custom:hover {
  color: var(--main);
}

.dark-btn, .dark-btn-outline,
.main-btn, .main-btn-outline {
  border-radius: 0.25rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: var(--transition);
}

.dark-btn {
  border: 1px solid var(--dark);
  background-color: var(--dark);
  color: var(--light);
}

.dark-btn:hover {
  border-color: var(--grey-1);
  background-color: var(--grey-1);
  color: var(--light)
}

.dark-btn-outline {
  border: 1px solid var(--dark);
  background-color: transparent;
  color: var(--dark);
}

.dark-btn-outline:hover {
  background-color: var(--dark);
  color: var(--light);
}

.main-btn {
  border: 1px solid var(--main);
  background-color: var(--main);
  color: var(--light);
}

.main-btn:hover {
  border-color: var(--main-hover);
  background-color: var(--main-hover);
  color: var(--light);
}

.main-btn-outline {
  border: 1px solid var(--main);
  background-color: transparent;
  color: var(--main);
}

.main-btn-outline:hover {
  background-color: var(--main);
  color: var(--light);
}



