@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

:root {
  --main: #ff4500;
  --support: #008080;
  --gold: #ffd700;
  --black: #000;
  --dark: #111;
  --light: #fffcfa;
  --grey-dark: #333;
  --grey-medium: #999;
  --grey-light: #ccc;
  --grey-light-extra: #eee;
  --transition: all 0.5s ease-in;
}

.logo {
  font-family: 'Ephesis', cursive;
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--main);
}

.hover-transition {
  transition: var(--transition);
}

.bg-main {
  background-color: var(--main);
}

.text-main {
  color: var(--main);
}

.bg-support {
  background-color: var(--support);
}

.text-support {
  color: var(--support);
}

.bg-gold {
  background-color: var(--gold);
}

.text-gold {
  color: var(--gold);
}

.bg-dark-col {
  background-color: var(--dark);
}

.text-dark-col {
  color: var(--dark);
}

.bg-light-col {
  background-color: var(--light);
}

.text-light-col {
  color: var(--light);
}

.bg-grey-dark {
  background-color: var(--grey-dark);
}

.text-grey-dark {
  color: var(--grey-dark);
}

.bg-grey-medium {
  background-color: var(--grey-medium);
}

.text-grey-medium {
  color: var(--grey-medium);
}

.bg-grey-light {
  background-color: var(--grey-light);
}

.text-grey-light {
  color: var(--grey-light);
}

.bg-grey-light-extra {
  background-color: var(--grey-light-extra);
}

.text-grey-light-extra {
  color: var(--grey-light-extra);
}

.main-btn {
  border: 1px solid var(--dark);
  background-color: transparent;
  color: var(--dark);
  text-transform: uppercase;
  transition: var(--transition);
}

.main-btn:hover {
  background-color: var(--dark);
  color: var(--light);
}

.navbar-brand.no-hover {
  /* pointer-events: none; */
  background: none;
  color: var(--main);
}